<div class="container">
  <mat-form-field class="full-width" >
    <input matInput [formControl]="keyword">
    <mat-hint align="start"><strong>輸入搜尋字串，例：demo、dev、展示...</strong> </mat-hint>
  </mat-form-field>
  <mat-selection-list (selectionChange)="selected($event)">
    <mat-list-option *ngFor="let school of dataSource" [value]="school">
      <div class="record">
        <div class="title">{{school.title}}</div>
        <div class="dsns">{{school.dsns}}</div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
