
.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding: 5px;
}

mat-selection-list {
  flex: 1 1 auto;
}

.record {
  display: flex;
  flex-direction: column;
}

.record>.title {
  flex: 3;
}

.record>.dsns {
  flex: 2;
  color: gray;
}

.full-width {
  flex: 1;
}
