<div *ngIf="!loading;else t_loading" class="container">
  <app-sql-window></app-sql-window>
</div>

<ng-template #t_loading>
  <div class="container">
    <app-loading></app-loading>
  </div>
</ng-template>
