<!-- <div class="mat-headline">{{status.Message}}({{status.Code}})</div>
<div class="mat-subheading-2">{{processTime}}</div>
<div class="mat-subheading-2">{{version}}</div>
<hr>
<pre class="mat-subheading-2">{{dsfault.Code}}</pre> -->

<!-- <pre class="mat-subheading-2">{{response | json}}</pre> -->

<!-- class="mat-elevation-z8" -->
<mat-card>
  <mat-card-header>
    <mat-card-title class="mat-headline">{{status.Message}}</mat-card-title>
    <mat-card-subtitle>dsa status code: {{status.Code}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <pre class="mat-subheading-2">service fault code: {{dsfault.Code}}</pre>
    <div class="error_detail">
      <pre class="mat-subheading-2">{{dsfault.Detail}}</pre>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
