
app-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 18px;
}

table.app-content[mat-table] {
  width: 80%;
}

.app-content th.mat-header-cell {
  font-size: 18pt;
  text-align: center;
}

.app-content td.mat-cell {
  font-size: 13pt;
}

.app-content .align-center {
  display: flex;
  justify-content: center;
}
