<table mat-table [dataSource]="schools" class="mat-elevation-z1 app-content">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>名稱</th>
    <td mat-cell *matCellDef="let element">
      {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="dsns">
    <th mat-header-cell *matHeaderCellDef>dsns</th>
    <td mat-cell *matCellDef="let element"> {{element.dsns}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <div class="align-center">
        <button mat-icon-button color="primary" routerLinkActive="router-link-active"
          (click)="openUdtWindow(element)">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editRegistration(element)">
            <mat-icon>edit</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="uds">
    <th mat-header-cell *matHeaderCellDef>UDS</th>
    <td mat-cell *matCellDef="let element">
      <div class="align-center">
        <button mat-icon-button color="primary" routerLink="/uds">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
