<!-- 工具列區 -->
<mat-toolbar color="primary">
  <!-- 新增連線　-->
  <button mat-icon-button (click)="registerNew()">
    <mat-icon>add_circle</mat-icon>
  </button>

  <!-- 連線清單　-->
  <!-- <button mat-button [matMenuTriggerFor]="connections">Connections</button>
  <mat-menu #connections="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item *ngFor="let dsa of dsa_list">{{dsa}}</button>
    </ng-template>
  </mat-menu> -->

  <span class="fill"></span>

  <!-- 帳號相關功能。 -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <img style="width: 35px;height: 35px;border-radius: 18px;" *ngIf="userInfo"
      [src]="userInfo?.picture">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
  </mat-menu>

</mat-toolbar>

<!-- 內容區 -->
<div class="align-center" *ngIf="loading; else contentArea">
  <app-loading></app-loading>
</div>

<ng-template #contentArea>
  <app-content></app-content>
</ng-template>
