<mat-toolbar color="primary" style="flex: 0">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>

    <span style="flex: 1;"></span>

    <button mat-icon-button (click)="executeSql()">
      <mat-icon class="example-icon" >play_circle_filled</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="mat-subheading-2 root">

  <app-sql #t_sql class="editor-container"></app-sql>
  <div class="grid-container">
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
      [enableSorting]="true" [rowData]="rowData" [columnDefs]="columnDefs"
      (gridReady)="gridReady($event)" rowSelection="multiple" [enableColResize]="true"
      [enableRangeSelection]="true">
    </ag-grid-angular>
  </div>

</div>
