
app-sql-window {
  height: 100%;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;

  .mat-toolbar-multiple-rows {
    min-height: 40px;
  }

  .mat-subheading-2 {
    margin: unset;
  }

  .root {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
  }

  .editor-container {
    flex: 1;
  }

  .grid-container {
    flex: 1;
    // width: 100%;
    // height: 50%;
  }
}
