
<ng-container *ngTemplateOutlet="signin">
</ng-container>

<ng-template #signin>
<a mat-button href="api/auth/authorize">
  <img src="assets/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png" />
</a>
</ng-template>
