<div mat-dialog-title class="mat-typography">註冊 DSA 應用程式</div>

<form class="container mat-h2" mat-dialog-content [formGroup]="registration"
  (ngSubmit)="testConnection()">

  <mat-form-field>
    <input matInput placeholder="DSNS" formControlName="dsns" tabindex="1"
      [matAutocomplete]="auto">
    <mat-hint align="start">
      <strong>例：dev.school1...</strong>
    </mat-hint>
    <mat-spinner matSuffix diameter="40" *ngIf="dsnsLoading"></mat-spinner>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="resolveDSNSInfo($event)" [displayWith]="getName">
      <mat-option *ngFor="let dsns of dsnsCompleteSource" [value]="dsns">{{dsns.dsns}}
        - {{dsns.title}} <span style="color:lightgray">{{dsns.coreSystem}}</span></mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="帳號" formControlName="user" tabindex="2"
      autocomplete="new-password">
    <button type="button" mat-button matSuffix mat-icon-button (click)="registration.get('user').setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start">
      <strong>必需是具有「超級使用者」權限之帳號。</strong>
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="密碼" formControlName="password"
      autocomplete="new-password" tabindex="3">
    <button type="button" mat-button matSuffix mat-icon-button (click)="registration.get('password').setValue('')">
      <mat-icon>close</mat-icon>
    </button>

    <mat-hint align="start">
      <strong>就是密碼…</strong>
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="名稱" tabindex="4" formControlName="name">
    <mat-hint align="start">
      <strong>例：三民國中...</strong>
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>說明</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5" tabindex="5" formControlName="description"></textarea>
  </mat-form-field>

  <button type="submit" style="display: none"></button>

</form>

<div class="align-right" mat-dialog-actions>
  <button mat-button (click)="testConnection()" [disabled]="!registration.valid"
    tabindex="6">註冊</button>
  <button mat-button mat-dialog-close tabindex="7">關閉</button>
</div>
