
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

[mat-dialog-title] {
  display: flex;
  justify-content: center;
}

mat-form-field {
  margin-bottom: 18px;
  flex: 1 1 auto;
}
