/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .ag-font-style {
  user-select: initial;
} */

/* div.ag-root {
  user-select:text;
} */
