:host {
  /* height: 100%; */
  /* flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 20px; */
}

.container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  /* justify-content: center; */
}
